body {
  margin: 0;
  padding: 0;
  background-color: #ee9949ba;
  font-family: "Arial";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-clip: padding-box;
}
.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin-top: center;
  padding: 80px;
  background: #23463f;
  border-radius: 15px;
}
.register {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin-top: center;
  padding: 80px;
  background: #23463f;
  border-radius: 15px;
}
h2 {
  text-align: center;
  color: #277582;
  padding: 20px;
}
p {
  font-family: "Arial";
  font-size: 11px;
  color: red;
  margin-top: 5px;
  margin-left: 37px;
  margin-right: 35px;
}
label {
  color: #08ffd1;
  font-size: 17px;
  margin-left: 37px;
}

.textfield {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  margin-left: 37px;
  padding-left: 8px;
}

.button {
  width: 310px;
  height: 30px;
  border: none;
  border-radius: 17px;
  margin-left: 37px;
  padding-left: 7px;
  color: blue;
  margin-bottom: 10px;
}
span {
  color: white;
  font-size: 17px;
}
a {
  float: right;
  background-color: grey;
}
